<ul id="navbar-top">
  {% for url, name in navbar_items %}<li class="navbar-item"><button class="navbar-button" onclick="document.location.href='{{url}}'">{{name}}</button></li>{% endfor %}
</ul>
<style>
  #navbar-top {
    padding-left: 0px;
    list-style-type: none;
    background-color: #285577;
  }
  .navbar-item {
    display: inline-block;
  }
  .navbar-button {
    width: 8rem;
    height: 2rem;
    border-radius: 0px;
    border: 0px;
    color: white;
    background-color: #285577;
  }
  .navbar-button:hover {
    background-color: #184567;
    cursor: pointer;
  }
</style>
